.contact-container{
     display: flex;
     justify-content: space-around;  
     margin: 60px;
     padding: 40px;
     height: 400px;
}
.contact-message{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.contact-message h1{
     margin: 0;
    font-size: 3.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-text{
     color: orange;
}
.contact-form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px;
}
.contact-form input,textarea{
     padding: 10px;
     font-size: 1rem;
     border: 3px solid orange;
     width: 330px;
     border-radius: 5px;
     outline-color: orange;
}
.contact-form input::placeholder{
     color: gray;
}
.send-btn{
      background-color: orange;
      border-radius: 40px;
      padding: 12px;
      border: none;
      outline: none;
      font-size: 1rem;
      margin-top: 20px;
      color: #fff;
      box-shadow: 0px 14px 20px rgb(243, 186, 79);
      cursor: pointer;
      transition: background 0.3s ease-in-out;
}
.send-btn:hover{
     background-color: #fff;
     border: 3px solid orange;
     color: black;
}
.submitted{
      background-color: rgb(97, 201, 97);
      opacity: 0.8;
      padding: 12px;
      font-size: 1.1rem;
      border-radius: 4px;
      margin-top: 20px;
}
