.nav-container{
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 20px;
     position: fixed;
     top: 0;
     left: 0;
     background-color: #fff;
     width: 100%;
     z-index: 3;
     transition: background 0.5s ease;
}
body.dark .nav-container{
     background-color: #333;
}
.names{
     display: flex;
     align-items: center;
     gap: 14px;
     margin-left: -90px;
}
.names h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-links{
     display: flex;
     align-items: center;
     gap:70px;
}
.nav-links a{
     text-decoration: none !important;
     color: black;
     position: relative;
}
.nav-links a li{
     list-style: none;
     font-size: 1.5rem;
     font-weight: 500;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     cursor: pointer;
}
.nav-links li::after{
     content: "";
     width: 0;
     height: 3px;
     background-color: orange;
     position: absolute;
     left: 0;
     bottom: -10px;
     transition: all 0.3s ease-in-out;  
}
.nav-links li:hover::after{
     width: 100%;
}

body.dark a li{
      color: #fff;
}
.nav-links a.active li {
  color: blue !important;
}
.contact{
      background-color: orange;
      padding: 20px;
      border-radius: 40px;
      margin-left: 25px;
      border: none;
      outline: none;
      font-size: 1rem;
      color: #fff;
       box-shadow: 0px 14px 20px rgb(243, 186, 79);
      cursor: pointer;
      transition: background 0.3s ease-in-out;
}
.contact:hover{
     background-color: #fff;
     border: 3px solid orange;
     color: black;
}