body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
   transition: background-color 0.5s ease, color 0.5s ease;
}
.dark{
   background-color: #333;
   color: rgb(248, 245, 245);
}
.light {
  background-color: #fff;
  color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.blobs-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; 
  overflow: hidden;
  pointer-events: none;
}

.blob {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.6;
  animation: moveBlob 20s infinite ease-in-out;
  mix-blend-mode: overlay; 
}


.blob:nth-child(1) {
  top: 33%;
  left: 20%;
}
.blob:nth-child(2) {
  top: 50%;
  left: 60%;
}
.blob:nth-child(3) {
  top: 80%;
  left: 30%;
}

@keyframes moveBlob {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(50px, -60px) scale(1.3);
  }
}

